@media screen and (min-width: 769px) {
    .header__mobile__nav {
        display: none;
    }

    .slider__mobile {
        display: none;
    }

    .historias__section__title,
    .editoriales__section__title,
    .tienda__title,
    .historias__title,
    .editoriales__title,
    .nosotrxs__title,
    .contacto__title,
    .footer,
    .footer__dev {
        padding: 10px 18px;
    }

    .tienda__title,
    .historias__title,
    .editoriales__title,
    .nosotrxs__title,
    .contacto__title {
        margin-top: 156px;
    }

    .editoriales__container__article {
        margin: 0 18px 10px 18px;
        background-color: #dcd8f2;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        max-width: 1164px;
    }

    .editoriales__container__article__editorial {
        display: flex;
    }

    .editoriales__container__article__img {
        max-height: 160px;
    }

    .editoriales__container__article__dek {
        text-align: justify;
        margin: 0 0 10px 10px;
        line-height: 20px;
    }

    .editoriales__container__article__text,
    .editoriales__container__article__text__bold {
        margin: 10px 0 10px 10px;
    }

    .historias__section__container__article,
    .editoriales__section__container__article {
        max-width: 380px;
    }

    .nosotrxs__section__container {
        display: flex;
        padding: 0px 8px;
    }

    .nosotrxs__section__container__img {
        max-width: 100%;
    }

    .nosotrxs__section__container__text {
        margin: 0px;
    }

    iframe {
        height: 450px;
    }

    .contacto__section {
        padding: 0 18px 0 0;

        .contacto__section__message {
            resize: none;
            height: 200px;
        }
    }
}

@media (max-width: 768px) {
    .header__desktop__nav {
        display: none;
    }

    .header__mobile__nav__toggle {
        display: flex;
    }

    .header__mobile__nav__menu {
        display: none;
    }

    .header__logo {
        display: flex;
        justify-content: center;
    }

    .slider__desktop {
        display: none;
    }
}