@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
.footer__dev .footer__dev__social, .footer__dev .footer__dev__copyright, .footer .footer__social, .footer .footer__icon, .footer .footer__copyright, .contacto__section__address .contacto__section__address__street,
.contacto__section__address .contacto__section__address__phone,
.contacto__section__address .contacto__section__address__mail, .header__desktop .header__desktop__nav__menu .header__desktop__nav__list, .header__desktop .header__desktop__nav__logo .header__desktop__nav__logo__icon, .header__mobile .header__mobile__nav__logo .header__mobile__nav__logo__icon {
  margin: 0;
  padding: 0;
}

.footer .footer__icon, .slider__desktop .slider__desktop__row, .slider__desktop, .slider__mobile .slider__mobile__row, .slider__mobile, .header__desktop .header__desktop__nav__logo, .header__mobile .header__mobile__nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__dev .footer__dev__social, .footer .footer__social, .contacto__section__form .contacto__section__send {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__mobile__nav__menu.menu-opened .header__mobile__nav__list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  min-height: 67vh;
}

.container-fluid {
  padding: 0 10px 0 10px;
}

.row {
  justify-content: center;
  align-items: center;
}

.header__mobile {
  background-color: #000;
}
.header__mobile .header__mobile__nav__logo {
  padding: 10px;
}
.header__mobile .header__mobile__nav__logo .header__mobile__nav__logo__icon {
  height: 70px;
}
.header__mobile .header__mobile__nav__logo .header__mobile__nav__logo__text {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0 0 10px;
}

.header__mobile__nav__toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  padding: 8px;
  margin: 10px;
}
.header__mobile__nav__toggle .header__mobile__nav__toggle__bar {
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: 0.4s;
}

.header__mobile__nav__menu.menu-opened {
  display: block;
  padding: 0 18px 0 0;
}
.header__mobile__nav__menu.menu-opened .header__mobile__nav__list {
  margin: 0 0 10px 0;
  padding: 0;
  flex-direction: column;
}
.header__mobile__nav__menu.menu-opened .header__mobile__nav__list .header__mobile__nav__list__item {
  display: inline-block;
}
.header__mobile__nav__menu.menu-opened .header__mobile__nav__list .header__mobile__nav__list__item .header__mobile__nav__list__link {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

.header__desktop {
  position: fixed;
  background-color: #000;
}
.header__desktop .header__desktop__nav__logo {
  padding: 10px;
}
.header__desktop .header__desktop__nav__logo .header__desktop__nav__logo__icon {
  height: 90px;
}
.header__desktop .header__desktop__nav__logo .header__desktop__nav__logo__text {
  max-width: 215px;
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  margin: 10px 0 0 10px;
}
.header__desktop .header__desktop__nav__menu {
  background-color: #fff;
  padding: 10px;
}
.header__desktop .header__desktop__nav__menu .header__desktop__nav__list {
  list-style: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__desktop .header__desktop__nav__menu .header__desktop__nav__list .header__desktop__nav__list__item {
  display: inline;
}
.header__desktop .header__desktop__nav__menu .header__desktop__nav__list .header__desktop__nav__list__item .header__desktop__nav__list__link {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
.header__desktop .header__desktop__nav__menu .header__desktop__nav__list .header__desktop__nav__list__item .header__desktop__nav__list__link:hover {
  color: #ffd05e;
}

.slider__mobile {
  margin: 0;
}
.slider__mobile .slider__mobile__row {
  margin-top: 10px;
  flex-direction: column;
}
.slider__mobile .slider__mobile__row .slider__mobile__images {
  padding: 0px;
}
.slider__mobile .slider__mobile__row .slider__mobile__images .slider__mobile__images__img {
  width: 351px;
  border: 2px solid #000;
  border-radius: 5px;
}

.slider__desktop {
  margin: 0;
}
.slider__desktop .slider__desktop__row {
  margin-top: 156px;
}
.slider__desktop .slider__desktop__row .slider__desktop__images {
  padding: 0px;
}
.slider__desktop .slider__desktop__row .slider__desktop__images .slider__desktop__images__img {
  border: 2px solid #000;
  border-radius: 5px;
}

.historias__section__title,
.editoriales__section__title,
.historias__title,
.editoriales__title,
.contacto__title,
.nosotrxs__title {
  background-color: #000;
  font-weight: 700;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

.historias__section__container__article,
.editoriales__section__container__article {
  max-width: 355px;
  margin: 0 10px 10px;
  padding: 10px;
  background-color: #f2d8d8;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.editoriales__section__container__article {
  background-color: #dcd8f2;
}

.historias__section__container__article__img,
.editoriales__section__container__article__img {
  border-radius: 5px;
  width: 100%;
}

.historias__section__container__article__title,
.editoriales__section__container__article__title {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 700;
}

/* HOME - ARTICLES SUBTITLES */
.historias__section__container__article__subtitle,
.editoriales__section__container__article__subtitle {
  font-size: 13px;
  font-style: italic;
}

/* HOME - ARTICLES TEXTS */
.historias__section__container__article__text,
.editoriales__section__container__article__text {
  margin: 0 0 10px;
  font-size: 12px;
  text-align: justify;
  height: 72px;
}

.historias__section__container__article__button,
.editoriales__section__container__article__button {
  display: flex;
  justify-content: center;
}

.historias__section__container__article__button svg,
.editoriales__section__container__article__button svg {
  color: #000;
}

.historias__section__container__button,
.editoriales__section__container__button {
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

.editoriales__section__container__button {
  margin-bottom: 10px;
}

.historias__section__container__button__more,
.editoriales__section__container__button__more {
  font-size: 11px;
  font-weight: 700;
}

.editoriales__container__article {
  margin: 0 10px 10px 10px;
  padding: 10px;
  background-color: #dcd8f2;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  max-width: 355px;
}
.editoriales__container__article .editoriales__container__article__title {
  font-size: 16px;
  font-weight: 700;
}
.editoriales__container__article .editoriales__container__article__subtitle {
  font-size: 13px;
  font-style: italic;
}
.editoriales__container__article .editoriales__container__article__editorial .editoriales__container__article__img {
  display: block;
  margin: 0;
  max-width: 335px;
}

.editoriales__container__article__dek,
.editoriales__container__article__text,
.editoriales__container__article__text__bold {
  font-size: 12px;
  text-align: justify;
  margin: 10px 0 10px 0;
  line-height: 20px;
}

.editoriales__container__article__dek,
.editoriales__container__article__text__bold {
  font-weight: 700;
}

.nosotrxs__section__container__grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  margin-bottom: 10px;
  max-width: 500px;
}
.nosotrxs__section__container__grid .nosotrxs__section__container__img {
  max-width: 112px;
}

.nosotrxs__section__container__text__p {
  font-size: 12px;
  text-align: justify;
  margin: 0 0 10px 0;
}

.contacto__section__address {
  margin: 10px 0;
  padding: 0;
}
.contacto__section__address .contacto__section__address__street,
.contacto__section__address .contacto__section__address__phone,
.contacto__section__address .contacto__section__address__mail {
  font-size: 12px;
}

.contacto__section__form {
  margin: 0;
}
.contacto__section__form .contacto__section__name,
.contacto__section__form .contacto__section__email,
.contacto__section__form .contacto__section__message {
  margin: 5px 10px;
  padding: 0;
  font-size: 12px;
}
.contacto__section__form .contacto__section__send {
  margin: 5px 0 10px 0;
  padding: 0;
  border: none;
  background: none;
}

.footer {
  background-color: #000;
  padding: 10px;
}
.footer .footer__copyright {
  color: #fff;
  font-size: 12px;
}
.footer .footer__icon .footer__icon__img {
  width: 70px;
}
.footer .footer__social .footer__social__link {
  margin-left: 10px;
}

.footer__dev {
  background-color: #656565;
  padding: 0 10px;
}
.footer__dev .footer__dev__copyright {
  color: #fff;
  font-size: 11px;
}
.footer__dev .footer__dev__social .footer__dev__social__link {
  margin-left: 10px;
}

@media screen and (min-width: 769px) {
  .header__mobile__nav {
    display: none;
  }
  .slider__mobile {
    display: none;
  }
  .historias__title,
  .editoriales__title,
  .nosotrxs__title,
  .contacto__title {
    margin-top: 156px;
  }
  .editoriales__container__article {
    margin: 0 10px 10px 10px;
    padding: 10px;
    background-color: #dcd8f2;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    max-width: 1820px;
  }
  .editoriales__container__article__editorial {
    display: flex;
  }
  .editoriales__container__article__img {
    max-height: 160px;
  }
  .editoriales__container__article__dek {
    font-size: 14px;
    text-align: justify;
    margin: 0 0 10px 10px;
    line-height: 20px;
  }
  .editoriales__container__article__text,
  .editoriales__container__article__text__bold {
    margin: 10px 0 10px 10px;
  }
  .nosotrxs__section__container {
    display: flex;
  }
  .nosotrxs__section__container__img {
    max-width: 100%;
  }
  .nosotrxs__section__container__text {
    margin: 0 0 0 10px;
  }
}
@media (max-width: 768px) {
  .header__desktop__nav {
    display: none;
  }
  .header__mobile__nav__toggle {
    display: flex;
  }
  .header__mobile__nav__menu {
    display: none;
  }
  .header__logo {
    display: flex;
    justify-content: center;
  }
  .slider__desktop {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */