.contacto__section__address {
    margin: 10px 0;
    padding: 0;

    .contacto__section__address__street,
    .contacto__section__address__phone,
    .contacto__section__address__mail {
        font-size: map-get($fonts, section-text);
        @extend %margin-padding;
    }
}

.contacto__section__form {
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: map-get($colors, primary-color);

    label {
        @extend %margin-padding;
        font-size: map-get($fonts, section-text);
        color: map-get($colors, secondary-color);
    }

    .contacto__section__name,
    .contacto__section__email,
    .contacto__section__message {
        margin: 5px 10px;
        padding: 0;
        font-size: map-get($fonts, section-button);
        height: 30px;

        &::placeholder {
            padding: 5px;
        }
    }

    .contacto__section__message {
        height: 100px;
    }

    .contacto__section__send {
        justify-content: flex-end;
        padding: 0;
        .contacto__section__send__button {
            @extend %flex-center;
            margin-top: 5px;
            padding: 0 5px;
            width: 47px;
            border-radius: 5px;
            background: none;
            font-size: map-get($fonts, section-text);
            background-color: map-get($colors, secondary-color);
            color: map-get($colors, primary-color);
        }
    }
}