$colors: (
primary-color: #000,
secondary-color: #fff,
historia-color: #f2d8d8,
editorial-color: #dcd8f2,
hover-color: #ffd05e,
);
$fonts: (
logo-mobile: 22px,
logo-desktop: 34px,
title: 16px,
section-title: 14px,
section-subtitle: 13px,
section-text: 12px,
section-button: 11px,
)